@charset "UTF-8";

* {margin:0; padding: 0; box-sizing: border-box;}

body {
    background: #fff url("../imagens/fundo-madeira.jpg") no-repeat fixed center; 
    background-size: cover;
    position: relative;
    height: 100vh;
}

#container-iphone{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    width: 280px; height: 565px;
    background: url('../imagens/frame-iphone-medium.png') no-repeat;
}

#tela{
    position: relative;
    left: 20px;
    top: 70px;
    width: 242px;
    height:428px;
}

#redes-sociais {
    position: absolute;
    /* background-color: #ffffff55; */
    right: 32px;
    top: 50%;
    transform: translate(0, -50%);
    height: 484px;
    width: 64px;
}

#redes-sociais img {
    width: 64px;
    margin-bottom: 16px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
}

#redes-sociais img:hover{
    transform: scale(110%, 110%);
    transform: translate(-4px, -4px);
    transition-duration: .5s;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.8);
}